<footer>
    <div class="container-fluid">
        <p class="text-center"> &copy; Copyright <span>@DateTime.Now.Year</span> <a class="footer-name" href="/">Dinesh Viswa</a> | All Rights Reserved</p>
    </div>
</footer>
